body {
    background-color: #d6d6d6;
}
.card-body{
    background-color: #979797;
}
body.dark {
    background: #232c35;
    color: white;
}
#full-header.dark{
    background-color: #232c35;
}
.copyright{
    color: black!important;
}
.checkbox {
    opacity: 0;
    position: absolute;
}
.input-checkbox{
    padding: 10px 0 0 0;
}
.label {
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    justify-content: space-between;

    display: flex;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(0.9);
}
.footer{
    background-color: #d6d6d6;
}
label.dark {
    background-color: #232c35;
}

.label .ball {
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translate(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked  + .label .ball {
    transform: translate(24px);
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}
/* Fontes */
#full_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


/* Botões do header */
#botoesheader {
    margin-left: 1.7rem;
}

ul li a {
    font-size: 1.2rem;
}

/* Logo */
a strong {
    font-size: 1.4rem;
}

.nav-bar-button {
    outline: 0 !important;
}

.nav-bar-button:hover {
    background-color: #d6d6d6;
    transition: 0.3s;
}


.nav-bar-links,
#logintop {
    text-align: center;
}

#textlogintop {
    font-size: 1.1rem;
}

/* Cartões */
#card {
    text-align: center;
    padding: 0px;
    margin: 10px;
}

/* Remover espaço entre cards*/
#cardin {
    width: 100% !important;
}

/* Texto final */
#topbtext {
    font-size: 2.5rem;

}

@media screen and (max-width:870px) {
    #botoesheader {
        padding-left: 0px !important;
    }
}

@media screen and (max-width:767px) {
    ul li a {
        font-size: unset;
    }
}

@media screen and (max-width:348px) {
    #logo {
        margin: 0px !important;
    }

}
