@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

body {
    background-color: rgb(221, 221, 221);
}

body > h1 {
    text-align: center;
    margin: 40px 0;
}

.financeiro, .tipo-investimentos {
    text-align: left;
    border: 1px solid rgb(184, 184, 184);
    border-radius: 5px;
    padding: 10px;
}

.rendimentos > h4 {
    text-align: center;
    margin-bottom: 20px;
}

.rendimentos > p {
    font-weight: bold;
    text-align: center;
}

.tipo-investimentos > h4 {
    text-align: center;
    margin-bottom: 20px;
}

.rendimentos div {
    margin-bottom: 10px;
}

.rendimentos div input[type="text"] {
    padding-left: 5px;
    outline: 0;
    font-size: 1em;
}

.rendimentos button {
    border: 1px solid black;
    padding: 3px 5px;
}

.rendimentos .periodo {
    margin: 25px 0;
    text-align: center;
}

.good, .bad {
    border-radius: 3px;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: -5px;
    background-color: rgb(152, 255, 149);
}

.bad {
    background-color: rgb(255, 149, 149);
}

.tipo-investimentos > .opcoesInvestimento{
    text-align: center;
}

.opcoesInvestimento input[type="checkbox"] {
    margin-right: 5px;
}

.tipo-investimentos button {
    margin-top: 10px;
    border: 1px solid black;
    padding: 3px 5px;
}

.opcoesInvestimento {
    margin-bottom: 10px;
}
