body {
    background-color: #d6d6d6;
}

/* Textos */
#toptxt {
    font-size: 3rem;
    font-weight: 500;
}

#bottomtxt {
    font-size: 1.5rem;
}

/* Fontes */
#full_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#maintxt {
    font-family: 'Mulish', sans-serif !important;
}

/* Botões do header */
#botoesheader {
    margin-left: 1.7rem;
}

ul li a {
    font-size: 1.2rem;
}

/* Botões do corpo */
#botoes {
    font-size: 1.4rem;
}

/* Logo */
a strong {
    font-size: 1.4rem;
}

.nav-bar-button {
    outline: 0 !important;
}

.nav-bar-button:hover {
    background-color: #d6d6d6;
    transition: 0.3s;
}

.nav-bar-links,
#logintop {
    text-align: center;
}

#textlogintop {
    font-size: 1.1rem;
}


@media screen and (max-width:870px) {
    #botoesheader {
        padding-left: 0px !important;
    }
}

@media screen and (max-width:767px) {

    /* Textos */
    #toptxt {
        font-size: 1.5rem;
        font-weight: 500;
    }

    #bottomtxt {
        font-size: 1rem;
    }

    ul li a,
    #botoes {
        font-size: unset;
    }
}

@media screen and (max-width:348px) {
    #logo {
        margin: 0px !important;
    }

}
