body {
    background-color: #ececec;
    padding-bottom: 50px;
}

/* Fontes */
#full_header {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

/* Botões do header */
#botoesheader {
    margin-left: 1.7rem;
}

ul li a {
    font-size: 1.2rem;
}

/* Logo */
a strong {
    font-size: 1.4rem;
}

.nav-bar-button {
    outline: 0 !important;
}

.nav-bar-button:hover {
    background-color: #d6d6d6;
    transition: 0.3s;
}

.nav-bar-links,
#logintop {
    text-align: center;
}

#textlogintop {
    font-size: 1.1rem;
}


.simulacao h1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.formulario {
    padding: 10px;
    background-color: #ffff;
    text-align: center;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.21);
}

.formulario legend {
    font-size: 2em;
}

.formulario p{
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 1.05em;
    font-weight: lighter;
}

.formulario p:first-of-type {
    margin-top: 0;
    font-size: 1.2em;
    margin-bottom: 40px;
    font-style: normal;
}

.formulario input[type=text] {
    width: 50%;
    outline: 0;
    border: 1px solid #505050;
    border-radius: 5px;
}

.simular, .limpar-dados, .editar-dados {
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 0;
    background-color: #505050;
    color: white;
    border: 1px solid #505050;
    border-radius: 3px;
    padding: 5px;
    width: 100px;
    font-size: 1em;
}

.simular:hover, .limpar-dados:hover, .editar-dados:hover {
    background-color: white;
    color: #505050;
    transition: 0.5s;
}

#mensagemresultado {
    margin-bottom: -20px;
    border-radius: 5px;
}

#resultado-calculo, #resultado-simulacao {
    margin-top: 50px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 7px;
    -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.21);
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.21);
    font-size: 1.3em;
}

@media screen and (max-width:870px) {
    #botoesheader {
        padding-left: 0px !important;
    }
}

@media screen and (max-width:767px) {
    ul li a {
        font-size: unset;
    }
}

@media screen and (max-width:348px) {
    #logo {
        margin: 0px !important;
    }

}

@media screen and (max-width: 768px) {
    .colunaTabela:nth-child(2) {
        display: none;
    }

    .dadoTabela:nth-child(2) {
        display: none;
    }

    .colunaTabela:nth-child(3) {
        display: none;
    }

    .dadoTabela:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 544px) {
    .colunaTabela:nth-child(4) {
        display: none;
    }

    .dadoTabela:nth-child(4) {
        display: none;
    }
}
